*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
    text-decoration:none;

}
:root {
    --progress: 0;
    --text-color: #EAE8FF;
    --header-color: #2D3142;
    --footer-color: #ADACB5;
    --body-color: #D8D5DB; 
}
@font-face {
    src: url(Akshar-VariableFont_wght.ttf);
    font-family:akshar;
}
#about-description{
    line-height:41px;
}
body{
    font-size:100%;
    width:100%;
}
.header *{
    font-family:akshar;
    text-decoration:none;
}
.header{
    width:100%;
    display: flex;   
    flex-direction: row;
    align-items: center;
    height: 60px; 
    justify-content: space-between;
    padding: 0px 20px 0px 20px ;
    z-index:100;
    position:relative;
    background-color:black;
}

#footer {
    background-color: var(--header-color);
    min-height: 70px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.2em;
    gap:20px;
}
#footer * {
    text-decoration: none;
    color: var(--text-color);
}
#navbar {
    font-size:1.0em;
    height:100%;
    display:flex;
    align-items:center; 
}
#logo a{ 
    height:100%;
    color:white;
    font-family: akshar;
    font-size: 2.7vh;  
}  
.root {
    text-align: center;
    background-color: white;
    min-height: max-content;
}

#banner {
    box-shadow: -1px 9px 47px -8px rgba(0,0,0,0.91);
    -webkit-box-shadow: -1px 9px 47px -8px rgba(0,0,0,0.91);
    -moz-box-shadow: -1px 9px 47px -8px rgba(0,0,0,0.91);
    margin-top: 40px;
    width: 80%;
    aspect-ratio: 16/5;
    display: inline-block;
    position: relative;
}
#left-handle:hover {
    opacity: 50%;
}
#right-handle:hover {
    opacity: 50%;
}
.banner:hover .handle{
    opacity:30%;
}
.slider {
    display: flex;
    height: 100%;
    overflow:hidden;
    padding:0;
    align-items:stretch;
}
.slider > a {
    flex: 0 0 100%;
    width:100%;
    min-height:100%;
}
.banner-img {
    flex: 0 0 100%;
    width: 100%;
     height: 100%;
}
#right-handle {
    height: 100%;
    right: 0;
    -webkit-mask-image: -webkit-gradient(linear, right top,left top, from(rgba(0,1,12,1)), to(rgba(0,0,0,0)));
}
#left-handle {
    height: 100%;
    left: 0;
    -webkit-mask-image: -webkit-gradient(linear, left top,right top, from(rgba(0,1,12,1)), to(rgba(0,0,0,0)));
}
.handle {
    background-color: black;
    position: absolute;
    width: 65px;
    z-index: 50;
    opacity: 0%;
    font-size: 50px;
    border: none; 
}
.handle-icon {
    transform: scale(.8, 1);
    color:white;
}
.banner-link {
    transition:all 0.3s ease-in-out;
    transform: translateX(calc(var(--progress)*-100%));
}
#games {
    border-radius:2em;
    box-shadow: -1px 9px 47px -8px rgba(0,0,0,0.91);
    -webkit-box-shadow: -1px 9px 47px -8px rgba(0,0,0,0.91);
    -moz-box-shadow: -1px 9px 47px -8px rgba(0,0,0,0.91);
    background-color: #EAE8FF;
    //background: linear-gradient(180deg, white 0%, rgba(41,41,180,1) 25%);
    margin-top: 4.5em; 
    display: block;
    padding-top: 50px;
    height: max-content;
    width: 100%;
}
#gamesTitle {
    font-family:akshar;
    font-size:60px;
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 6px 29px 1px rgba(130,130,130,0.65);
    -webkit-box-shadow: 1px 6px 29px 1px rgba(130,130,130,0.65);
    -moz-box-shadow: 1px 6px 29px 1px rgba(130,130,130,0.65);
    margin: auto;
    font-size: 40px;
    border-radius: 1em;
    border: 5px solid black;
    width: 50%;
    height: 70px;
    background-color: var(--header-color);
    color: var(--text-color);*/
}

#gamesContainer{

    padding:55px 0px 55px 0px;
    display:grid;
    height:1230px;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    max-width:100%; 
    height:max-content;
}
.game {
    box-shadow: -1px 9px 47px -8px rgba(0,0,0,0.91);
    -webkit-box-shadow: -1px 9px 47px -8px rgba(0,0,0,0.91);
    -moz-box-shadow: -1px 9px 47px -8px rgba(0,0,0,0.91);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding:14px 0px 10px 0px;
    border-radius:1rem; 
}
.game > a {
    justify-self:center;
    align-self:center;
    width: 600px;
    height: auto;
}
.thumbnail-img{
    width: 600px;
    height: auto;
    max-width:100%;
}
.game-title {
    font-family: akshar;
    color: black;
    font-size: 30px;
    max-width:90%;
    margin-top: 15px;
}
@media(max-width:1200px){
    #gamesContainer{
        grid-template-columns:1fr;
    }
    .game-title {
        margin-bottom: 60px;
    }
}
@media(max-width:650px){
    .thumbnail-img{
        width:100%;
    }
    .game>a{
        width:100%;
    }
}
nav{
    display:flex;
    gap:40px;
    width:300px;
}
.nav-link {
    display:flex;
    justify-content:center;
    align-content:center;
    border-radius:30px;
    padding:20px 20px 20px 20px;
    text-decoration:none;
    margin:0px 5px 0px 5px;
    color:white;
}
.home-link:hover {
    color: var(--body-color);
}
.games-link:hover {
    color: var(--body-color);
}
.about-link:hover {
    color: var(--body-color);
}
.selected {
    color: var(--body-color);
}
#about-main{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;

}
#about-pic{
    width:100%;
    height:100%;
    top:60px;
    left:0;
    background-color:black;
    position:absolute;
    object-fit:cover;
}
#about-text{
    color:white;
    font-size:50px;
    position:absolute;
}
#about-description{
    padding:20px 0px 80px 0px;
}
#about-description-text{
    font-size:2em;
}
.footer-link{
    padding:8px 8px 8px 8px;
}
h2 {  
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

h2 span {
    margin-top:20px;
    background-color:white
}
.game-description{
    font-size: 20px;
    line-height:25px;
    margin-bottom:70px;
}

.games-link {
    display: block;
    position: relative;
    cursor: pointer;   
}

.dropdown{
    position:relative;
}

.dropdown-menu{ 
    position:absolute;
    background-color:white; 
    border-radius:.25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1); 
    z-index:100;
    white-space:nowrap;
    max-width:fit-content;
    opacity:0;
    pointer-events:none;
    transform:translateY(-10px);
    transition:opacity 150ms ease-in-out, transform 150ms ease-in-out;  
    display:flex;
    flex-direction:column;
    right:-13px;
} 
.dropdown:hover .dropdown-menu{  
    opacity:1;
    transform:translateY(0); 
    pointer-events:auto;
}
#game-dropdown-link-1:hover {
    background-color: rgba(0,0,0,0.1);
}
#game-dropdown-link-2:hover {
    background-color: rgba(0,0,0,0.1);
}
#game-dropdown-link-3:hover {
    background-color: rgba(0,0,0,0.1);
}
#game-dropdown-link-4:hover {
    background-color: rgba(0,0,0,0.1);
}
.game-dropdown-link {
    padding: .75rem;
    text-decoration: none;
    color: black;
}
 
#game-1:hover{
    transform:scale(1.02);
    z-index:1020;
}
#game-2:hover {
    transform: scale(1.02);
    z-index: 1020;
}
#game-3:hover {
    transform: scale(1.02);
    z-index: 1020;
}
#game-4:hover {
    transform: scale(1.02);
    z-index: 1020;
}
 .game-page-title{
     margin:20px 0px 20px 0px;
 }

 iframe{
     max-width:100vw;
     margin-bottom:70px;
 }

 .game-page{
    font-family:akshar;
 }